<div class="container main-container">
    <h1 #test>Lista de Produtos</h1>
    <div class="row text-center">
        <!-- <app-product-card [products]="products" (status)="changeStatus($event)"></app-product-card> -->
        <app-product-card class="col-md-4" *ngFor="let product of products" [product]="product" (status)="changeStatus($event)">
            <h3 class="outOfStock" style="font-size: 16px; color: red">Produto indisponível no momento</h3>
            <h3 class="unlimitedTime" style="font-size: 11px; color: red">Por tempo ilimitado</h3>
        </app-product-card>
        <!-- Iterando sobre o array de produtos e passando a propriedade da iteração para componente filho(card) -->
    </div>
</div>