<div class="row text-center">
    <div style="padding-bottom: 15px;">
        <div class="card h-100">
            <a class="text-decoration-none">
                <div style="align-content:center;">
                    <img src="/assets/{{ product.image }}" height="164px" width="253px" alt="">
                </div>
            </a>
            <h4 class="card-title">{{ product.originalName | titlecase }}</h4>

            <div [ngSwitch]="product.promotion">
                <p *ngSwitchCase="true" style="font-size: 16px; color: red;">Promoção!</p>
                <!-- <p *ngSwitchCase="false">Por apenas: {{product.promotion ? product.promotionPrice : product.listPrice}}</p> -->
            </div>

            <div [ngSwitch]="product.active">
                <!-- <p *ngSwitchCase="false" style="font-size: 16px; color: red;">Produto indisponível no momento</p> -->
                <ng-content *ngSwitchCase="false" select=".outOfStock"></ng-content>
            </div>
            <div *ngIf="product.promotion" class="card-body">
                <div>
                    <h4 class="card-text">De:
                        <small><del>{{ product.listPrice | currency:'BRL':true:'1.2-2':'pt'}}</del></small> <br>
                        Por: {{ product.promotionPrice | currency:'BRL':true:'1.2-2':'pt'}}
                    </h4>
                    <ng-content select=".unlimitedTime"></ng-content>
                </div>
            </div>
            <div *ngIf="!product.promotion && product.active" class="card-body">
                <div>
                    <h4>{{ product.listPrice | currency:'BRL':true:'1.2-2':'pt'}}</h4>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" (click)="productEvent()" [routerLink]="">
                    <span class="fa fa-shopping-cart"></span> Comprar
                </a>
                &nbsp;
                <a class="btn btn-success" style="color:white" [routerLink]="['details/', product.id]" routerLinkActive="router-link-active" >
                    <span class="fa fa-shopping-cart"></span> Detalhes
                </a>
            </div>
        </div>
    </div>
</div>