<div class="container main-container">
    <h1>Filmes</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Nome</th>
                <th scope="col">Data de Lançamento</th>
                <th scope="col">Valor</th>
                <th scope="col">Tamanho do Arquivo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of movies">
                <img [src]="item.image" style="padding-bottom: 5px;" alt="Imagem do Filme">
                <td>{{item.name | titlecase}}</td>
                <td>{{item.releaseDate | date:"dd/MM/yyyy"}}</td>
                <td>{{item.listPrice | currency:'BRL':true:'1.2-2':'pt'}}</td>
                <td>{{item.movieSize | fileSize}}</td>
            </tr>
        </tbody>
    </table>
</div>