<div class="container main-container">
    <h4>Demo Cadastro</h4>
    <hr />

    <form novalidate (ngSubmit)="createUser()" [formGroup]="registerForm">
        <div class="form-horinzontal">
            <div class="form-group">
                <label class="col-md-2 control-label" for="name">Nome completo</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="name" placeholder="Nome (Requerido)"
                        formControlName="name" [ngClass]="{'is-invalid': displayMessage.name}">
                    <span class="text-danger" *ngIf="displayMessage.name">
                        <!-- Renderiza como HTML puro -->
                        <p [innerHTML]="displayMessage.name"></p>
                    </span>
                </div>
            </div>
            <div class=" form-group">
                <label class="col-md-2 control-label" for="document">CPF</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="document" placeholder="CPF (Requerido)"
                        formControlName="document" cpf [textMask]="{mask: MASKS.cpf.textMask}"
                        [ngClass]="{'is-invalid': displayMessage.document}">
                    <span class="text-danger" *ngIf="displayMessage.document">
                        <p [innerHTML]="displayMessage.document"></p>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="nome">E-mail</label>
                <div class="col-md-10">
                    <input type="email" class="form-control" id="email" placeholder="E-mail (Requerido)"
                        formControlName="email" [ngClass]="{'is-invalid': displayMessage.email}">
                    <span class="text-danger">
                        <p [innerHTML]="displayMessage.email"></p>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="password">Senha</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="password" placeholder="Senha (Requerido)"
                        formControlName="password" [ngClass]="{'is-invalid': displayMessage.password}">
                    <span class="text-danger" *ngIf="displayMessage.password">
                        <p [innerHTML]="displayMessage.password"></p>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="passwordConfirm">Confirmar senha</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="passwordConfirm"
                        placeholder="Confirmar senha (Requerido)" formControlName="passwordConfirm"
                        [ngClass]="{'is-invalid': displayMessage.passwordConfirm}">
                    <span class="text-danger" *ngIf="displayMessage.passwordConfirm">
                        <p [innerHTML]="displayMessage.passwordConfirm"></p>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 cold-md-offset-2">
                    <span>
                        <button class="btn btn-success" id="Registrar" type="submit"
                            [ngClass]="{'btn-light': !registerForm.valid}"
                            [disabled]="!registerForm.valid">Registrar</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <p>Formulário Válido: {{registerForm.valid}} </p>
                    <p>Formulário Tocado: {{registerForm.touched}}</p>
                    <p>Formulário Sujo: {{registerForm.dirty}}</p> <br>
                    <p>Formulário: {{formResult}} </p>
                </div>
            </div>
        </div>
    </form>
</div>